<form [formGroup]="addRestaurantForm" (ngSubmit)="onSubmit()" #myform="ngForm">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="restaurantName">Name</label>
        <input
          type="text"
          name="restaurantName"
          formControlName="restaurantName"
          class="form-control"
          placeholder="Restaurant Name"
        />
        <div
          *ngIf="
            addRestaurantForm.controls['restaurantName'].invalid &&
            (addRestaurantForm.controls['restaurantName'].dirty ||
              addRestaurantForm.controls['restaurantName'].touched)
          "
          class="text-danger"
        >
          <div
            *ngIf="
              addRestaurantForm.get('restaurantName')?.hasError('required')
            "
          >
            Name is required
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="restaurantCoordinate"> Coordinate</label>
        <input
          type="text"
          name="restaurantCoordinate"
          formControlName="restaurantCoordinate"
          class="form-control"
          placeholder="Coordinate"
        />
        <div
          *ngIf="
            addRestaurantForm.controls['restaurantCoordinate'].invalid &&
            (addRestaurantForm.controls['restaurantCoordinate'].dirty ||
              addRestaurantForm.controls['restaurantCoordinate'].touched)
          "
          class="text-danger"
        >
          <div
            *ngIf="
              addRestaurantForm
                .get('restaurantCoordinate')
                ?.hasError('required')
            "
          >
            Coordinate is required
          </div>
          <div
            *ngIf="
              addRestaurantForm.get('restaurantCoordinate')?.hasError('pattern')
            "
          >
            Coordinate pattern invalid
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="restaurantType"> Type</label>
      <div class="form-group">
        <select
          name="restaurantType"
          formControlName="restaurantType"
          class="form-select"
        >
          <option *ngFor="let type of types | slice: 1" [ngValue]="type">
            {{ type }}
          </option>
        </select>
      </div>
    </div>
    <div class="col">
      <label for="restaurantImage"> Image</label>
      <div class="form-group">
        <input
          #imageInput
          type="file"
          formControlName="restaurantImage"
          (change)="onFileSelect($event)"
          class="form-control"
          id="restaurantImage"
        />
        <div
          *ngIf="
            addRestaurantForm.controls['restaurantImage'].invalid &&
            (addRestaurantForm.controls['restaurantImage'].dirty ||
              addRestaurantForm.controls['restaurantImage'].touched ) 
          "
          class="text-danger"
        >
          <div
            *ngIf="
              addRestaurantForm.get('restaurantImage')?.hasError('required')
            "
          >
            Image is required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-4 my-4">
      <input
        type="submit"
        class="form-control bg-success text-white"
        value="Save"
      />
    </div>
  </div>
</form>
