
<app-add-restaurant
  (onAddRestaurant)="AddRestaurant($event)"
  [types]="types"
></app-add-restaurant>
<div >
  <div class="row g-0">
    <div class="col-5">
      <app-search-field (onSearchChanged)="onSearch($event)"></app-search-field>
    </div>
    <div class="col-2">
      <app-single-filter [types]="types" (onTypeChanged)="TypeChanged($event)">
      </app-single-filter>
    </div>
  </div>

  <app-restaurants-table
    [selectedType]="selectedType"
    [searchText]="searchText"
  ></app-restaurants-table>
</div>
